.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #ccc;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
  -webkit-animation:spin 2s ease-in-out;
   -moz-animation:spin 2s ease-in-out;
   animation:spin 2s ease-in-out;
}
@-moz-keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

#speaker label {
    display: inline-block;
    cursor: pointer;
}

#speaker label img {
    padding: 3px;
}
