#outer {
  margin-bottom: 100px;
}

#scoreBoard {
  padding-top: 400px;
  margin-top: 400px;
}

#title {
  text-align: center;
}
#lowerTitle {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #ccc;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-animation:spin 2s ease-in-out;
   -moz-animation:spin 2s ease-in-out;
   animation:spin 2s ease-in-out;
}
@-moz-keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin {
 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

#speaker label {
    display: inline-block;
    cursor: pointer;
}

#speaker label img {
    padding: 100px;
}

.bubble {
margin-top: 5%;
position: relative;
width: 750px;
padding: 40px;
background: #FFFFFF;
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
border: #7B7C7F solid 20px;
}

.bubble:after {
position: absolute;
border-style: solid;
border-width: 39px 21px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -21px;
bottom: -39px;
left: 20%;
}

.bubble:before {
position: absolute;
border-style: solid;
border-width: 58px 40px 0;
border-color: #7B7C7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -40px;
bottom: -78px;
left: 20%;
}

#quoteText {
  margin-bottom: 30px;
  font-size: 2em;
}

img {
  height: 150px;
}

#trupmPic {
  margin-right: 200px;
  margin-left:50px;
}
